#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

.banner body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.banner .swiper {
  width: 350px;
  height: 300px;
  padding: 50px;
}

.banner .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 300px;
}

.banner .swiper-slide img {
  display: block;
  width: 100%;
}
